body {
  margin: 0;
  padding: 0;

  background-color: #333;
}

#ribbon {
  position: absolute;
  top: 0;
  left: 0;
}

main {
  min-height: 100vh;
  min-width: 100vw;

  display: grid;
  align-items: center;
  justify-items: center;

  font-size: 3em;
  color: #eee;
}
